@import url(http://fonts.googleapis.com/css?family=Teko:300,700);


#page {

	width: 1024px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
	box-shadow: 10px 10px 10px #b3b3b3;
}
nav p {
	text-transform: uppercase;
	text-align: center;
}
#design {
    width:1024px;
    font-size: 15px;
    font-family: 'Teko',sans-serif;
    background: #092f6e url('../../images/satellite_dish.jpg') no-repeat center bottom;
    min-height:575px;
}
#heading{
    background-color:rgba(0,0,0,5);
    padding:15px 0px 2px 0px;
    margin:0px 0px 30px 0px;
    text-align:center;
    font-size:40px;
}
#picture {
	float: left;
}
#design #countdown .countdown-row{
    display:block;
    text-align:center;
}

#design #countdown .countdown-section{
    display:inline-block;
    width:95px;
}
#design #countdown .countdown-amount{
    display:block;
    color:#ffffff;
    font-size:5.6em;
    line-height:55px;
}
#design #countdown .countdown-period{
    display:block;
    color:#6fb5f8;
    font-size:1.4em;
    text-transform:uppercase;
    letter-spacing:2px;
}


#count{
    margin: 0; padding: 0; background-color: #092f6e; color: #fff; 
    text-align:center;
}
body {
    font-family: "Century Gothic";
    font-size: large;
    background-color: #D1CDCD;
  
    background-image: url('../../images/background.png') ;
    background-repeat: repeat;
}
p {
	text-align: justify;
	line-height: 1.8;
}

#content {
	padding: 30px 90px 30px 50px;
}
td {
	padding: 8px;
}

.biggerPic {
	border-width: 0px;
}

h2 {
	text-transform: none;
	text-decoration: none;
	font-weight: normal;
}

#table {
	border: 1px solid #C0C0C0;
	font-family: "Lucida Sans";
	color: #666666;
	font-size: 14px;
	text-align: center;
	border-spacing: 0px;
	margin-right: auto;
	margin-left: auto;
	line-height: 22px;
	border-collapse: separate;
}
.price {
	font-size: large;
	font-weight: bold;
	font-family: "Arial Black";
	color: #000000;
}

#secondPart {
	margin: 50px 25px 50px 25px;
}

.cross {
	color: #CC0000;
	font-size: 20px;
}
.mark {
	color: #006699;
	font-size: 20px;
}

.even {
	background-color: #F0F0F0;
}

.map {
	text-align: center;
}

footer {
	background-color: #737373;
	color: #FFFFFF;
	padding-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;

}

.list {
	list-style-type: circle;
		line-height: 1.8;
}
nav a {
	color: #444444;
	box-shadow: 4px 3px 10px #CCCCCC;
	padding: 12px;
	text-decoration: none;
}
nav a:hover {
	background-color: #808080;
	color: #FFFFFF;
	text-decoration: none;
}



h3 {
	font-size: 22px;
	font-weight: normal;
}
